<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="cartProducts === undefined || cartProducts.length === 0">
        <br>
        <h2>You don't have products in your cart :)</h2>
      </div>
      <br>
    </div>
  </div>
</div>

<div *ngIf="cartProducts !== undefined && cartProducts.length > 0">
  <h1>Shopping Cart:</h1>
  <div *ngFor="let product of cartProducts" class="container">
    <div class="row">
      <div class="offset-md-1 col-md-6">
        <h3>{{product.repeat}} X {{product.name}} </h3>
        <h4>Price: {{product.price | currency}}</h4>
        <h4>Total Price: {{product.price * product.repeat | currency}}</h4>
        <div class="input-group">
          <input type="number" class="form-control" name="repeat" [value]="product.repeat" #count>
          <button type="button" class="btn btn-info" (click)="updateCount({name: product.name, count: count.value})">Update</button>
          <button type="button" class="btn btn-danger float-right" (click)="deleteProduct(product.name)">Remove All</button>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-6">
        <h5>Subtotal: {{orderInfo.subtotal | currency}}</h5>
        <h5>Tax Amount: {{orderInfo.taxAmount | currency}}</h5>
        <h3>Total: {{orderInfo.total | currency}}</h3>
        <app-order></app-order>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>