<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul *ngFor="let category of categories">
        <div *ngIf="!category.parent">
          <li>
            <button (click)="showSubCategories(category)" type="button" class="btn btn-primary">{{category.name}}</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="sr-only">Toggle Dropright</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item">Update</a>
              <a (click)="deleteCategory(category._id)" class="dropdown-item">Delete</a>
            </div>
          </li>
          <div *ngFor="let child of category.children">
            <div *ngIf="category.clicked">
              <li class="child">
                <button type="button" class="btn btn-primary">{{child.name}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <span class="sr-only">Toggle Dropright</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item">Update</a>
                  <a (click)="deleteCategory(child._id)" class="dropdown-item">Delete</a>
                </div>
              </li>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <app-products class="col-md-8"></app-products>
  </div>
</div>