<div *ngIf="user">
<button data-toggle="modal" class="btn btn-primary btn-lg" data-target="#createOrderModal" (click)="calTotalandSubtotal()">Proceed to Checkout</button>
</div>

<div *ngIf="!user">
    <br>
    <hr>
    <h4>Please Login to Buy</h4>
    <button type="button" class="btn btn-success" [routerLink]="['../login']">Login</button>
</div>

<!-- Create Order Modal Start-->
<div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>You're buying:</h2>
                <div *ngFor="let oneProduct of myOrder">
                    <h2>{{oneProduct.name}}</h2>
                    <h4>Number of items: {{oneProduct.repeat}}</h4>
                    <strong>Total Price: {{oneProduct.price * oneProduct.repeat | currency}}</strong>
                    <hr>
                </div>
                <h3>Total Amount: {{totalAmount | currency}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#reciptModal" (click)="newOrder()">Buy Now</button>
            </div>
        </div>
    </div>
</div>
<!-- Create Order Modal End -->

<!-- Create Recipt Modal Start -->
<div class="modal fade" id="reciptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recipt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 class="text-md-right">Thank You!</h2>
                <hr>
                <h5 class="text-md-right">Subtotal: {{orderInfo.subtotal | currency}}</h5>
                <h5 class="text-md-right">Tax Amount: {{orderInfo.taxAmount | currency}}</h5>
                <h2 class="text-md-right">Total: {{orderInfo.total | currency}}</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#reciptModal" [routerLink]="['../home']">Keep Shopping!</button>
            </div>
        </div>
    </div>
</div>
<!-- Create Recipt Modal End -->

<!-- NO LONGER USING A MODAL FOR LOGIN -->
<!-- Login Modal Start-->
<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-login></app-login>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" (click)="ngOnInit()">Confirm</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Login Modal End -->
    