<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{categorySeccion}}" (click)="showCategory()">Create Category</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{productSeccion}}" (click)="showProduct()">Create Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{userSeccion}}" (click)="showUserInfo()">Users Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{historySeccion}}" (click)="showHistory()">History</a>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div *ngIf="userSeccion">
      <h1>Users:</h1>
      <app-users-info></app-users-info>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngIf="historySeccion">
      <h1>History:</h1>
      <div *ngFor="let order of historyArray">
        <h1>User: {{order.userName}}</h1>
        <h1>Email: {{order.userEmail}}</h1>
        <h3>{{order.created_at | date:'fullDate'}}</h3>
        <div *ngFor="let product of order.products">
          <h1>Name: {{product.name}}</h1>
          <h4>Count: {{product.repeat}}</h4>
          <p>Description: {{product.description}}</p>
          <strong>Price: {{product.price}}</strong>
        </div>
        <br>
        <h5>Subtotal: ${{order.subtotal}}.00</h5>
        <h5>Tax-percentage: {{order.tax}}%</h5>
        <h5>Tax-amount: {{order.taxAmount}}</h5>
        <h5>Total: ${{order.total}}</h5>
        <hr style="height: 5px; background-color: black;">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngIf="categorySeccion">
      <form>
        <div class="form-group">
          <label for="name"> *Category Name: </label>
          <input type="email" ng-minlength="2" [(ngModel)]="newCategory.name" class="form-control" name="category" placeholder="Category Name">
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Select Parent
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="newCategory.parent = null">This will be a Parent</a>
            <div *ngFor="let category of subCategoriesArray">
              <a class="dropdown-item" (click)="newCategory.parent = category._id">{{category.name}}</a>
            </div>
          </div>
        </div>

        <button (click)="addCategory()" class="btn btn-primary"> Add Category </button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngIf="productSeccion">
      <form name="myForm">
        <div class="form-group">
          <label for="name"> *Product Name: </label>
          <input type="email" ng-model="myInput" ng-minlength="2" [(ngModel)]="newProduct.name" class="form-control" name="category"
            placeholder="Product Name">
          <!-- <h1 ng-if="!myForm.category.$valid">The value is too short</h1> later -->
        </div>

        <div class="form-group">
          <label for="price"> *Product Price: </label>
          <input type="number" [(ngModel)]="newProduct.price" class="form-control" name="price" placeholder="Product Price">
        </div>

        <div class="form-group">
          <label for="price"> *Product Description: </label>
          <textarea rows="4" cols="50" [(ngModel)]="newProduct.description" class="form-control" name="description" placeholder="Product Description"></textarea>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Select Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let category of mainCategoriesArray">
              <a class="dropdown-item" (click)="newProduct.category = category.name">{{category.name}}</a>
            </div>
          </div>
        </div>

        <button (click)="addProduct()" class="btn btn-primary"> Add Product </button>
      </form>
    </div>
  </div>
</div>