<nav class="container-fluid">
    <div class="row elements">
        <div class="col-md-4 ">
            <a class="col-md-4" [routerLink]="['home']"> Home </a>
            <a class="col-md-4" *ngIf="user.username" [routerLink]="['history']"> History </a>
            <a class="col-md-4" *ngIf="user.role === 'ADMIN'" [routerLink]="['admin']">Admin</a>
        </div>
        <div class="col-md-4 ">
            <!-- <h4 (click)="goHome()">Iron Store</h4> -->
            <img (click)="goHome()" src="https://res.cloudinary.com/ddibftjux/image/upload/v1527824178/iron_store.png" alt="Ironstore Logo" class="site-logo">
        </div>
        <div class="col-md-4 ">
            <a class="col-md-2" *ngIf="user.username">Hello {{user.username}}</a>
            <a class="col-md-2" *ngIf="!user.username" [routerLink]="['signup']"> Signup </a>
            <a class="col-md-2" *ngIf="!user.username" [routerLink]="['login']"> Login </a>
            <a class="col-md-2" *ngIf="user.username" [routerLink]="['login']" (click)="logOut()">Logout</a>
            <a class="col-md-2" [routerLink]="['cart']"> {{numberofItems}}
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</nav>