<!-- <nav class="container-fluid">
    <div class="row elements">
        <div class="col-md-4">
            <a class="col-md-2" [routerLink]="['category']"> Home </a>
            <a class="col-md-2" [routerLink]="['cart']"> Cart </a>
            <a class="col-md-2" [routerLink]="['history']"> History </a>
            <a class="col-md-2" *ngIf="user.role === 'ADMIN'" [routerLink]="['admin']">Admin Area</a>
        </div>
        <div class="col-md-4">
            <h4>Iron Store</h4>
        </div>
        <div class="col-md-4">
            <a class="col-md-2" [routerLink]="['signup']"> Signup </a>
            <a class="col-md-2" [routerLink]="['login']"> Login </a>
            <a class="col-md-2" [routerLink]="['login']" (click)="logOut()">Logout</a>
        </div>
    </div>
</nav> -->

<nav class="navbar fixed-top navbar-light bg-light container-fluid">
  <div class="row elements">
    <div class="col-md-4 navbar-brand">
      <div class="row">
        <a class="col-md-1" [routerLink]="['category']"> Home </a>
        <a class="col-md-1" [routerLink]="['cart']"> Cart </a>
        <a class="col-md-1" [routerLink]="['history']"> History </a>
        <a class="col-md-1" *ngIf="user.role === 'ADMIN'" [routerLink]="['admin']">Admin Area</a>
      </div>

    </div>
    <div class="col-md-4 navbar-brand">
      <h4>Iron Store</h4>
    </div>
    <div class="col-md-4 navbar-brand">
      <a class="col-md-1 " [routerLink]="['signup']"> Signup </a>
      <a class="col-md-1 " [routerLink]="['login']"> Login </a>
      <a class="col-md-1 " [routerLink]="['login']" (click)="logOut()">Logout</a>
    </div>
  </div>
</nav>