<h1> Authentication Sample </h1>
<form>
  <h2> Login or Signup </h2>
  <br>
  <label> Email </label>
  <input type="text" [(ngModel)]="formInfo.email" name="email" />
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password" />

  <button (click)="login()"> login </button>
</form>
<p class="error"> {{ error }} </p>





<!-- <div class="container">

  <div class="row">
    <div class="offset-xs-4 col-xs-4 offset-md-3 col-md-6">

      <h2> Authentication Sample </h2>

      <form>
        <h3> Login </h3>
        <div class="form-group">
          <label for="email"> Email </label>
          <input type="email" [(ngModel)]="formInfo.email" class="form-control" name="email" [placeholder]="theEmail">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button (click)="editUser()" class="btn btn-primary"> Edit User </button>
        <p class="error"> {{ error }} </p>
      </form>
    </div>
  </div>

</div> -->


