<div class="offset-md-3 col-md-5">
  <h3 class="offset-md-4">Search:</h3>
  <input type="text" class="form-control" [(ngModel)]="filter">
</div>
<br>
<h2>{{categoryFromParent}}</h2>
<div class="row">
  <div class="col-md-10 text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <br>
  </div>

  <div *ngFor="let singleProduct of products | searchByCategory: categoryFromParent |searchByName: filter | paginate: { itemsPerPage: 9, currentPage: p }" class="col-xm-3 col-sm-5 col-md-4">
    <div class="card">
      <div (click)="singleProductView(singleProduct)" data-toggle="modal" data-target="#singleProductModal">
        <img class="image" [src]="singleProduct.picturePath">
        <div class="info">
          <h5>{{singleProduct.name}}</h5>
          <h6 class="light-grey">{{singleProduct.category}}</h6>
          <p class="light-grey">{{singleProduct.price | currency}}</p>
        </div>
      </div>
      <button (click)="addCookie(singleProduct)" type="button" class="btn btn-secondary add-product">Add to Cart
        <i class="fas fa-shopping-cart"></i>
      </button>
      <div *ngIf="user.role === 'ADMIN'">
        <button (click)="deleteProduct(singleProduct._id)" type="button" class="btn btn-danger admin-buttons">Delete</button>
        <button (click)="fillForm(singleProduct)" type="button" class="btn btn-primary admin-buttons" data-toggle="modal" data-target="#updateProductModal">Update</button>
      </div>
    </div>
    <!-- Update Modal Start -->
    <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="updateInfo.name" [value]="modalInfo.name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Price:</label>
                <input type="number" class="form-control" name="price" [(ngModel)]="updateInfo.price" [value]="modalInfo.price">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea class="form-control" name="description" [(ngModel)]="updateInfo.description" [value]="modalInfo.description"></textarea>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Picture:</label>
                <input type="file" class="form-control" name="photo">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProduct(modalInfo._id)">Update</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Update Modal End -->

    <!-- Single Product View Modal -->
    <div class="modal fade" id="singleProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelForProduct">Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>{{productInfoForModal.name}}</h2>
            <img class="image" [src]="productInfoForModal.picturePath">
            <br><br>
            <h6>Price: {{productInfoForModal.price | currency}}</h6>
            <h4>Description:</h4>
            <p>{{productInfoForModal.description}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addCookie(productInfoForModal)">Add to Cart
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Product View Modal End -->
  </div>

    <div class="col-md-10 text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <br>
    </div>
</div>
