
<h1 class="text-center">Order History</h1>
<hr style="height: 1px; background-color: #eee;">
<h2 class="text-center">Hello {{username}}</h2>
<h5 class="text-center light-grey">These are the recepits for all of your transactions:</h5>

<div *ngIf="history !== undefined">
  <div *ngIf="history.length === 0" class="text-center">
    <h3>You haven't purchased anything with us yet.</h3>
    <h3>Your history is empty :)</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div *ngFor="let order of history | paginate: { itemsPerPage: 3, currentPage: p }">

  <div class="container">
    <div class="row">
      
      <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <h2>Receipt</h2>
          </div>
        </div>
    
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of order.products">
                  <td class="col-md-9">{{product.name}} <span class="light-grey"> x {{product.repeat}}</span></td>
                  <td class="col-md-3"> {{product.price * product.repeat | currency}} </td>
              </tr>

              <tr>
                <td class="text-right">
                  <p>
                    <strong>Subtotal: </strong>
                  </p>
                  <p>
                    <strong>Tax-percentage: </strong>
                  </p>
                  <p>
                    <strong>Tax-amount: </strong>
                  </p>
                </td>
                <td>
                  <p>
                    <strong> {{order.subtotal | currency}}</strong>
                  </p>
                  <p>
                    <strong> {{order.tax}}%</strong>
                  </p>
                  <p>
                    <strong> {{order.taxAmount | currency}}</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="text-right"><h2><strong>Total: </strong></h2></td>
                <td class="text-left"><h2><strong> {{order.total | currency}}</strong></h2></td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="row">
          <div class="receipt-header receipt-header-mid receipt-footer">
            <div class="col-xs-8 col-sm-8 col-md-8 text-left">
              <div class="receipt-right">
                <p><b>Date :</b> {{order.created_at | date:'fullDate'}}</p>
              </div>
            </div>
          </div>
        </div>
    
      </div>    
    </div>
    <hr style="height: 1px; background-color: #eee;">
  </div>

</div>
