<div *ngIf="!history">
 <h2>You'r history is empty :)</h2>
</div>

<div *ngFor="let order of history">
    <h3>{{order.created_at | date:'fullDate'}}</h3>
  <div *ngFor="let product of order.products">
    <h1>Name: {{product.name}}</h1>
    <h4>Count: {{product.repeat}}</h4>
    <p>Description: {{product.description}}</p>
    <strong>Price: {{product.price}}</strong>
  </div>
  <br>
  <h5>Subtotal: ${{order.subtotal}}.00</h5>
  <h5>Tax-percentage: {{order.tax}}%</h5>
  <h5>Tax-amount: {{order.taxAmount}}</h5>
  <h5>Total: ${{order.total}}</h5>
  <hr style="height: 5px; background-color: black;">
</div>