
<div class="container">

    <div class="row">
        <div class="offset-xs-4 col-xs-4 offset-md-3 col-md-6 my-5">

          <!-- <div *ngIf="theUserName !== ''"> -->
            <h2>Welcome {{ theUserName }}</h2>
            <h3>Your email on records is: {{ theEmail }}</h3>
          <!-- </div> -->

        </div>
    </div>

    <div class="row">
        <div class="offset-xs-4 col-xs-4 offset-md-3 col-md-6">
          <!-- FORM START -->
          <form>
            <div class="form-group">
              <label for="username"> Username </label>
              <input type="text" [(ngModel)]="formInfo.username" class="form-control" name="username" [placeholder]="theUserName">
            </div>
          
            <div class="form-group">
              <label for="email"> Email </label>
              <input type="email" [(ngModel)]="formInfo.email" class="form-control" name="email" [placeholder]="theEmail">
            </div>
          
            <button (click)="editUser()" class="btn btn-primary"> Edit User </button>
            <p class="error"> {{ error }} </p>
          </form>
          <!-- FORM END -->
        </div>
    </div>
</div>