
<article>

  <h1>Welcome to this site</h1>

  <p>
    This is an mock eCommerce site made by Daniel Lozano and Otton Fernandez. It is named in honor of the coding bootcamp we were attending when we made it, Ironhack.
  </p>
  <p>
    In very broad terms, users can buy things and admins can manage the products, the categories of the products, and the users. You can read in detail what users can do <a href="/about#user-features">here</a> and what admins can do <a href="/about#admin-features">here</a>.
  </p>
  <p>
    You can create an account and browse the site to se how it looks for users, when you are ready to test the admin features, you can use these credentials:
  </p>
  <ul>
    <li>Email: 'admin@admin.com'</li>
    <li>Password: '123'</li>
  </ul>
  <p>
    Yes, we know...
  </p>
  <p>
    We want anyone testing this site to have fun with it. Delete every single product and category, and then theme the store around something silly. Go crazy! If you find the site to be empty (or if you empty it out yourself) and want to see how it looks with products, you can click the button bellow and it will go back to how it was when we finished.
  </p>

  <button type="button" class="btn btn-warning" (click)="resetEverything()">Reset EVERTHING!</button>
  <br><br>

  <div *ngIf="responseMessage && responseMessage.length !== 0">
    <div class="alert alert-success" role="alert">
      <span>{{responseMessage}}</span>
    </div>
  </div>

  <p>
    If you have any feedback, we would love to hear it. You can email us:
  </p>

  <address>Otton Fernandez:<a href="www.ottongabriel@gmail.com"> ottongbriel@gmail.com</a></address>
  <p>and</p>
  <address>Daniel Lozano:<a href="www.lozanodaniel02@gmail.com"> lozanodaniel02@gmail.com</a></address>

  <h3><i>Have fun with the site!</i></h3>

  <br><br><br>

  
  <h2 id="user-features">Features for users</h2>
  
  <ul>
    <li>Users can browse the selection of products aided by the pagination buttons, the search bar, or the category selection bar on the left. </li>
    <li>They can add items to the cart, whether they are logged in or not, but they must create an account and sign in to "buy" anything.</li>
    <li>The cart icon on the top right will keep count of the number of items they have added to the cart.</li>
    <li>In the cart, they can adjust the number of items they want, or remove all items of one kind before finishing their purchase.</li>
    <li>Users can see their purchase history in the History page.</li>
    <li>After a user is done, they may log out.</li>
  </ul>

  <h2 id="admin-features">Features for Admins</h2>
  <ul>
    <li>An administrator of the site can do everything that a user can.</li>
    <li>On the home page, an administrator can edit and delete products and categories.</li>
    <li>All products will have buttons indicating those functions. </li>
    <li>Categories can be edited or deleted by clicking on icon with the two down-arrows next to each category.</li>
    <li>In the admin section, Administrators can: create new categories, create new products, view the purchasing history of each user, and view all of the purchases made on the site.</li>
    <li>Categories can be parent or child categories. Parent categories are essentially folders. New categories must have a parent selected from the menu, otherwise it will be created as a parent category.</li>
    <li>New products must have a name, price, image, description, and a category.</li>
    <li>On the users info, and Admin can see the purchasing history of each user.</li>
    <li>The History section has the full history of the site.</li>
  </ul>

</article>

